
@{
    ViewBag.Title = "Česta pitanja";
}

@Html.Partial("_PageTitle")

<!-- Services Details -->
<section class="flat-row services-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="item-wrap text-justify">
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item">Česta pitanja i odgovori</h2>
                            <br />
                            <!--Accordion wrapper-->
                            <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-1">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                1. Protivpožarna zaštita <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-1" class="collapse" role="tabpanel" aria-labelledby="heading-1" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Svaka zgrada mora da ima propisanu zaštitu od mogućih požara. Zakon o zaštiti požara predstavlja okvir koja se bliže definiše raznim podzakonskim aktima.</p>
                                            <p>Vatrogasni aparat je prvo na šta će građani da pomisle, a upravo su ovi aparati najčešće zapostavljeni. Oni se koriste za početno gašenje nastalog požarakoji se još nije proširio na veća područja.</p>
                                            <p>Hidranti stupaju na delo kada je požar već uzeo maha uz prethodno isključivanje struje.</p>
                                            <p>Protivpožarna zaštita poznata i kao PP zaštita nije nešto što ispituje komšija do Vas niti mi nego to rade akreditovane institucije  kako bi se ispoštovali svi zakonski propisi i uputstva sa zvanične deklaracije i garancije proizvođača.</p>
                                            <p>U praksi se najčešće koriste „S“ aparati kod kojih je sredstvo za gašenje obična soda bikarbona ili CO2 aparati kod kojih je plin odnosno ugljen dioksid sredstvo koje se koristi.</p>
                                            <p>Iako smo ubeđeni da većina ljudi zna kako da pravilno koristi ovaj aparat u slučaju nužde, mi ćemo Vam dati kratko uputstvo.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-2">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                2. Na koji način se vrši naplata Vaših usluga kao profesionalnog upravnika? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Za mesečne usluge koje pružamo ćete dobiti račun, posebno za svaki mesec.</p>
                                            <p>Uplatu možete izvršiti putem e-bank aplikacije ili gotovinski u bilo kojoj pošti i bilo kojoj banci koju Vi preferirate.</p>
                                            <p>U bilo kom trenutku ćete u našoj kancelariji u Braće Radić 12c ili putem elektronskog upita moći imati uvid u stanje računa Vaše zgrade. Mi volimo da popričamo sa Vama, ali i elektronska forma Vam je uvek raspoloživa!</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-3">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                3. Šta mi imamo od toga da s Vama potpišemo ugovor? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-3" class="collapse" role="tabpanel" aria-labelledby="heading-3" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Pored osnovnih usluga, imamo godinama razvijanu i usavršavanu mrežu komunikacije sa raznim partnerima čija delatnost spada u radove i usluge važne za zgrade.</p>
                                            <p>Od instalacije i servisiranja interfona i video nadzora, brige o vodovodnim i električnim instalacijama, preko pranja i krečenja fasade, krečenja zgrade, zamene brava, utikača, popravke problema prokišnjavanja krova nudimo i druge poslove prema Vašim potrebama i zahtevima.</p>
                                            <p>Odgovor u najkraćem mogućem roku i promptno rešavanje hitnih situacija!</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-4">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                4. Šta je i kako se formira Rezervni fond zgrade? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-4" class="collapse" role="tabpanel" aria-labelledby="heading-4" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Rezerevni Fond se osniva na osnovu većinske odluke Stambene zajednice. Nakon osnivanja  Rezervnog Fonda nastaje zakonska obaveza zplate dogovorenog iznosa u dogovorenim rokovima na tekući račun Stambene zajednice. Obaveza je deifinisana Zakonom o stanovanju i održavanju zgrada.</p>
                                            <p>Radi se o zajedničkom fondu svih vlasnika posebnih i samostalnih delova, a njegova namena je pokriće investicionog održavanja Vaše zgrade. Čak i zakupci stanova preko godinu dana imaju obavezu plaćanja troškova investicionog održavanja.</p>
                                            <p>Visina sredstava se može zasnivati na potrebama za investiciono održavanje Vaše zgrade,a ne može da bude ispod minimalnog iznosa propisanog aktom o investicionom održavanju.</p>
                                            <p>Profesionalni upravnik je dužan da vodi evidenciju uplata i zaduženja za svakog vlasnika koji imaju pravo na izvod stanja sredstvaa ovog fonda. Profesionalni upravnik mora da vodi evidenciju o prihodima i rashodima, da kreira izveštaje o stanju Rezervnog fonda minimum dva puta godišnje, kao i da dostavlja svakom vlasniku račun za investiciono održavanje ako je tako definisano u ugovoru.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-5">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                5. Koji su zajednički delovi zgrade? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-5" class="collapse" role="tabpanel" aria-labelledby="heading-5" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Svaki prostor van stana, lokala ili izdvojenog dela, garaže koji se nalazi u okviru zgrade svrstava se u njene zajedničke delove.</p>
                                            <p>Zajednički delovi zgrade su ,na primer, stepenište,  zajednički hodnici, ulazni prosotori i vetrobrani, podrum, tavan, prostorija za bicikle, prostorija za sušenje veša i zajedničke terase.</p>
                                            <p>U zajedničke delove zgrade spadaju i građevinski elementi poput temelja, nosećih zidova i stubova, izolacija, strehe, fasade, krov, dimanjci, konstrukcija i prostori za lift i druge posebne konstrukcije.</p>
                                            <p>Zajedničke instalacije, oprema i uređaji su unutrašnje električne, vodovodne i instalacije za kanalizaciju, instalacije za gas i toplotno grejanje, lift i gromobrani, protivpođarni aparati, bezbedonosna ravseta i telefonske instalacije uključujući sve komunalne priključke koji su instalirani radikoriščenja od strane svih stanara.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-6">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                6. Kako Vas možemo kontaktirati radi razgovora i eventualnog potpisivanja ugovora? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-6" class="collapse" role="tabpanel" aria-labelledby="heading-6" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Možete nas kontaktirati putem kontakt telefona 024/571-331 i 069/39-39-390, kao i putem kontakt mejl adrese info@sustan.rs.</p>
                                            <p>Možete nas posetiti i u kancelariji koja se nalazi u centru grada, na adresi Braće Radića 12c, Subotica.</p>
                                            <p>Odgovorićemo na sva Vaša pitanja i bliže Vam predstaviti našu ponudu. Vaše mišljenje je nama bitno.</p>
                                            <p>Ako se odlučite da mi budemo Vaš profesionalni upravnik, u kratkom roku možemo potpisati ugovor o saradnji u kome je naš dogovor jasno definisan kako biste imali napismeno koja su Vaša prava i naše obaveze.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-7">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                7. Da li je račun koji dobijemo od Vaše firme pod našom kontrolom i da li može biti nepredviđenih stavki iznenađenja? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-7" class="collapse" role="tabpanel" aria-labelledby="heading-7" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Račun koji Vam šaljemo svaki mesec je razložen po stavkama i obuhvata redovne aktivnosti održavanja Vaše zgrade, a u skaldu sa ugovorom koji je prethodno poptisan sa stambenom zajednicom.</p>
                                            <p>Ako se na računu pojave stavke koje su van uobičajenog, one će biti pravilno dokumentovane počev od narudžbe do izvršenja posla kako bi svim stanarima bilo jasno zašto to plaćaju. To mogu da budu stavke koje su zahtevale hitnu reakciju ili usluge na zahtev zgrade.</p>
                                            <p>Ako ugovor koji Vi odobravate jasno definiše izuzetne okolnosti u kojima su neke akcije preduzete bez odobrenja skupštine, one se takođe mogu javiti na računu koji mesečno dobijate.</p>
                                            <p>Znači, računi za plaćanje isključivo sadrže stavke koje su dogovorene i naručene od strane zgrade.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-8">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                8. Kada zgrada postaje stambena zajednica i koji rokovi je dotiču na taj način? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-8" class="collapse" role="tabpanel" aria-labelledby="heading-8" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Članom 137. Zakona je predviđeno da „na dan stupanja na snagu stambena zgrada u kojoj najmanje dva lica imaju pravo svojine na dva posebna dela u toj stambenoj zgradi postaje stambena zajednica i stiče svojstvo pravnog lica’’.</p>
                                            <p>Rok za uspostavljanje Registara i Jedinstvenih evidencija propisanih zakonom je 12 meseci od dana stupanja ovog zakona na snagu.</p>
                                            <p>Skupština ili savet zgrade koji je osnovan u skladu sa propisima koji su važili do trenutka stupanja na snagu ovog zakona, odnosno vlasnici posebnih delova zgrade u kojoj nije oformljena skupština ili savet zgrade, imaju obavezu da u roku od 6 meseci od dana početka rada Registra izvrše registraciju stambene zajednice u skladu sa odredbama ovog zakona.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-9">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-9" aria-expanded="false" aria-controls="collapse-9">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                9. Koje su zakonske kazne za one koji ne poštuju zakon? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-9" class="collapse" role="tabpanel" aria-labelledby="heading-9" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Zakonom o stanovanju i održavanju zgrada su propisane kazne ne samo za stambene zajednice već i za vlasnike stanova i lokala.</p>
                                            <p>Novčane kazne se kreću od 5 hiljada do 150 hiljada dinara za fizička lica, vlasnike posebnih delova. Kazna može biti propisana u slučaju da vlasnici stanova I lokala ne postupe po rešenju koje im je uručio inspektor ili ako se utvrdi da ne postupaju u skladu sa nekim drugim odredbama zakona.</p>
                                            <p>Prekršajne kazne za stamebnu zajednicu se kreću od 50 hiljada do 2 miliona dinara ako u propisanom roku ne upišu u registar stambenih zajednica, ako ne obezbede potrebnu dokumentaciju zgrade ili ne izvrše radnje nalođene od strane inspektora u roku koji je propisan za to.</p>
                                            <p>Kazne su propisane i za privredna društva koja se bave upravljanjem zgradama za njhov delokrug rada,ako njihove radnje nisu u skladu sa zakonskim propisima.</p>
                                            <p>Novčane kazne se predviđaju i za odgovorna lica u jedini lokalne samouprave.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-10">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-10" aria-expanded="false" aria-controls="collapse-10">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                10. Šta znači energetska sanacija zgrade? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-10" class="collapse" role="tabpanel" aria-labelledby="heading-10" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Energetska sanacija zgrade obuhvata građevinske i druge radove na postojećoj zgradi, kao i popravku ili zamenu uređaja, postrojenja, opreme i instalacija istog ili manjeg kapaciteta koji ne ugrožavaju stabilnost i sigurnost objekta, koji ne menjaju konstruktivne elemente, koji ne utiču na bezbednost susednih objekata i saobraćaja, kao I koji ne utiču na protivpožarnu zaštitu i zaštitu životne sredine.</p>
                                            <p>Izvođenje radova na energetskoj sanaciji kojima se menja spoljašnji izgled može da se radi isključivo uz sve potrebne saglasnosti u cilju poboljšanja energetske efikasnosti zgrade odnosno smanjivanja potrošnje svih vrsta energije primenom tehničkih mera i standard na postojećim elementima stambene zajednice, uređajima, postrojenjima i opremi.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-11">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-11" aria-expanded="false" aria-controls="collapse-11">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                11. Kako profesionalni upravnik može da poboljša upravljanj zgradom? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-11" class="collapse" role="tabpanel" aria-labelledby="heading-11" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Profesionalni upravnik obavlja sve poslove koje je prethodno obavljao upravnik zgrade.</p>
                                            <p>Pored toga, profesionalni upravnik brine o održavanju zemljišta koje služi za redovnu upotrebu zgrade, zaprima prijave svih nastalih kvarova I drugih problema kao što su buka u zgradi koji ometaju normalan život stanara zgrade.</p>
                                            <p>Svaku prijavu od stanara profesionalni upravnik je u obavezi da prosledi nadležnom organu i da zahteva preduzimanje odgovarajućih mera.</p>
                                            <p>Profeisonalni upravnik obezbeđuje redovno održavanje zgrade i o tome odgovara zajednici, kao i izvršenje potrebnih radova kad su u pitanju hitne intervencije.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-12">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-12" aria-expanded="false" aria-controls="collapse-12">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                12. Šta znači prinudna uprava zgrade i ko je uvodi? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-12" class="collapse" role="tabpanel" aria-labelledby="heading-12" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Poslovi upravljanja mogu da se dodele prinudnom upravniku (prinudna uprava) u slučaju da se utvrdi da stambena zajednica nije prijavljena u skladu sa članom 18. Zakona ili ako nakon isteka mandata nije izabran novi.</p>
                                            <p>Prinudnu upravu uvodi jedinica lokalne samouprave odnosno opština u situacijama kad vlasnici posebnih delova zgrade nisu niti izabrali upravnika,a nisu ni angažovali profesionalnog upravnika.</p>
                                            <p>Prinudni upravnik obavlja dužnost  upravnika sve dok stambena zajednica ne donese odluku da sama vrši poslove upravljanja ili dok ne izabere profesionalnog upravnika.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-13">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-13" aria-expanded="false" aria-controls="collapse-13">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                13. Kada ističe mandat prinudnog upravnika? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-13" class="collapse" role="tabpanel" aria-labelledby="heading-13" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Prinudni upravnik vrši poslove upravljanja stambenom zajednicom sve dok stambena zajednica ne odluči ko će biti upravnik ili dok ne sklopi ugovor sa profesionalnim upravnikom.</p>
                                            <p>Mandat prinudnog upravnika nije decidno definisan, a li on ostaje na toj poziciji sve dok s ene ispune uslovi iz stave 1. Člana 57 Zakona i stanovanju i upravljanju zgradama.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-14">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-14" aria-expanded="false" aria-controls="collapse-14">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                14. Koja je razlika između profesionalnog i prinudnog upravnika? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-14" class="collapse" role="tabpanel" aria-labelledby="heading-14" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Profesionalni upravnik je funkcija u zgradi uvedena odlukom skupštine stambene zajednice. Profesionalni upravnik je izabran od strane skupštine stanara ukoliko niko od stanara ne želi da obavlja tu funkciju ili ako smatraju da je bolje da se upravljanjem zgrade</p>
                                            <p>Za izbor profesionalnog upravnika neophodno je 2/3 glasova od ukupnog broja vlasnika stanova odnosno lokala.</p>
                                            <p>Prinudni upravnik je funkcija koju u stambenu zajednicu uvodi jedinica lokalne samouprave u slučajevima kada u zadatom roku nisu ispoštovane odredbe zakona. Prinudni upravnik vrši tu funkciju sve dok stambena zajednica ne odluči ko će biti upravnik ili dok ne zaključi ugovor sa profesionalnim upravnikom.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-15">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-15" aria-expanded="false" aria-controls="collapse-15">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                15. Šta je Registar stambenih zajednica? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-15" class="collapse" role="tabpanel" aria-labelledby="heading-15" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Registar stambenih zajednica predstavlja elektronsku bazu podatakai dokumenata i sadrži podatke i dokumenta za svaku stambenu zajednicu.</p>
                                            <p>Link ka registru je <a href="http://katastar.rgz.gov.rs/stambenezajednice/">http://katastar.rgz.gov.rs/stambenezajednice</a></p>
                                            <br />
                                            <h5>Registar sadrži:</h5>
                                            <ul class="my-list-style">
                                                <li>poslovno ime i adresu svake stambene zajednice</li>
                                                <li>podatak o tome koliko posebnih delova sadrži stameban zajednica, a u posebne delove  zgrade spadaju broj stanova,; zatim, broj garaža van zgrade na katastarskoj parceli na kojoj je zgrada izgrađena, garažnih mesta, garažnih boksova, parking mesta, kao i poslovnih prostora).</li>
                                            </ul>
                                            <br />
                                            <h5>Obavezni dokumenti koje Registar mora da sadrži su sledeći:</h5>
                                            <ul class="my-list-style">
                                                <li>dokaz o izvršenom upisu posebnog dela zgrade u registar nepokretnosti</li>
                                                <li>dokaz o izvršenom upisu samostalnog dela zgrade u registar nepokretnosti</li>
                                                <li>ugovor o upravljanju za one zgrade koje obuhvataju manje od pet posebnih delova</li>
                                                <li>dokaz o upisu u registar profesionalnih upravnika</li>
                                                <li>dokumentaciju koja je osnov izvršene registracije</li>
                                                <li>ugovor o poveravanju poslova upravljanja zgradom</li>
                                                <li>ugovor o raspolaganju zajedničkim delovima zgrade o kojoj je reč.</li>
                                            </ul>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-16">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-16" aria-expanded="false" aria-controls="collapse-16">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                16. Šta tačno spada u nadležnosti stambene zajednice? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-16" class="collapse" role="tabpanel" aria-labelledby="heading-16" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Skupština stambene zajednice donosi odluke o:</p>
                                            <ul class="my-list-style">
                                                <li>biranju i razrešavanju upravnika</li>
                                                <li>poveravanju upravljanja zgradom odnosno izboru profesionalnog upravnika</li>
                                                <li>podizanju kredita</li>
                                                <li>određivanju mesečnog iznosa koji će vlasnici posebnih delova plaćati za potrebe izvršavanja poslova iz nadležnosti stambene zajednice n a ime torškova održavanja drugih troškova.</li>
                                                <li>donošenja plana i programa održavanja i briga o održavanju zajedničkih delova zgrade</li>
                                                <li>o organizovanju poslova održavanja zgrade odnosno o poveravanju održavanja zajedničkih delova zgrade</li>
                                                <li>preduzimanju radova na delovima zgrade koji su zajednički</li>
                                                <li>održavanje stepeništa za redovnu upotrebu zgrade</li>
                                                <li>odrđavanje zemljišta za redovnu upotrebu zgrade</li>
                                                <li>fizičko-tehničko obezbeđenje zgrade I stvari na zemljištu kojr služi za redovnu upotrebu zgrade,</li>
                                                <li>korišćenjem zajedničkih delova zgrade njihovim izdavanjem trećim licima i/ili vlasnicima posebnih delova</li>
                                                <li>načinu korišćenja zemljišta koje služi za redovnu ipotrebu zgrade, kao i unapreivanju zajedničkih delova zgrade</li>
                                                <li>osiguranju iz člana 30. Zakona o stanovanju i održavanju zgrada</li>
                                                <li>Postavci ,to jest, ugradnji stvari na zajedničkim delovima zgrade i zemljištu koje služi za redovnu upotrebu zgrade i visini naknade koju će vlasnici tih stvari biti u obavezi da plaćaju</li>
                                                <li>Usvajanju izveštaja o radu upravnika ,to jest, profesionalnog upravnika koji posebno sadrži prikaz svih aktivnosti koje su realizovane u odnosu na one koje su planirane, kao I stepenu iskorišćenosti sredstava za realizovanje svake od tih aktivnosti</li>
                                                <li>Visini naknade za investiciono održavanje zajedničkih delova zgrade i zemljišta koje služi za redovnu upotrebu zgrade</li>
                                                <li>Ostalim pitanjima od važnosti za stambenu zajednicu</li>
                                            </ul>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-17">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-17" aria-expanded="false" aria-controls="collapse-17">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                17. Koji organi se bave upravljanjem stambenom zajednicom? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-17" class="collapse" role="tabpanel" aria-labelledby="heading-17" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Organe stambene zajednice predstavljaju skupština i upravnik.  Skupština stambene zajednice može da formira odbore i druga tela I da njihov sastav, zadatke i način rada reguliše donošenjem odluke skupštine.</p>
                                            <p>Ako skupština stambene zajednice donese odluku o angažovanju profesionalnog upravnika, skupština može da izabere jedno lice ili nekoliko njih kao posrednike u poslovima između stambene zajednice i profesionalnog upravnika.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-18">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-18" aria-expanded="false" aria-controls="collapse-18">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                18. Na koji način se organizuje rad stambene zajednice? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-18" class="collapse" role="tabpanel" aria-labelledby="heading-18" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Od dana sticanja statusa pravnog lica, i to najkasnije u roku od 60 dana stambena zajednica ima obavezu da održi  prvu skupštinu na kojoj se bira upravnik. Tu skupštinu saziva predsednik skupštine koji je vršio brigu o zgradi do momenta donošenja Zakona o stanovanju i upravljanju zgradama koji je usvojen 22.decembra 2016.godine. S obzirom da u nekim zgradama nije ni bilo predsednika zgrade, prvu skupštinu o kojoj je ovde reč može da sazove bilo koji vlasnik stana ili lokala zgrade.</p>
                                            <p>Zgrada koja obuhvata manje od pet posebnih delova ,odnosno stanova ili lokala jednostavnije rečeno, nema obavezu sazivanja skupštine stambene zajednice  ako vlasnici tih posebnih delova sklope ugovor o upravljanju kojim se bliže uređuju poslovi iz nadležnosti stambene zajednice i vršenje poslova upravnika.</p>
                                            <p>Upravnik je u obavezi da u roku od 15 dana od dana održavanja skupštine podnese prijavu za upis stambene zajednice i svih nastalih promena u registar stambenih zajednica.</p>
                                            <p>Novčane kazne se predviđaju i za odgovorna lica u jedini lokalne samouprave.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">

                                    <!-- Card header -->
                                    <div class="card-header accordian-border" role="tab" id="heading-19">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-19" aria-expanded="false" aria-controls="collapse-19">
                                            <h6 class="mb-0 accordian-h5-bottom">
                                                19. Šta je stambena zajednica? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <!-- Card body -->
                                    <div id="collapse-19" class="collapse" role="tabpanel" aria-labelledby="heading-19" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p>Stambena zajednica predstavlja skup vlasnika stanova i lokala u zgradi. Status pravnog lica stambena zajednica dobija kada najmanje dva lica postanu vlasnici dva stana, a čine je svi vlasnici stanova.</p>
                                            <p>Neke zgrade imaju više celina sa posebnim ulazima, pa je bitno napomenuti da u tom slučaju stambenu zajednicu čine vlasnici stanova svake od tih celina i time čine stambenu zajednicu ulaza.</p>
                                            <p>Stambena zgrada se upisuje u registar stambenih zajednica i ,kao svako pravno lice, poseduje matični broj (MBR), poreski identifikacioni broj (PIB) i tekući račun u odabranoj banci.</p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                            </div>
                            <!--/.Accordion wrapper-->
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                </div><!-- /.item-wrap -->
            </div><!-- /.Col-lg-9 -->
            <!-- Sidebar -->
            @Html.Partial("_Sidebar")

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
