
@{
    ViewBag.Title = "Knjiženje zgrada";
}

@Html.Partial("_PageTitle")

<!-- Services Details -->
<section class="flat-row services-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="item-wrap text-justify">
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item">Usluga knjiženja u Vašem interesu</h2>
                            <br />
                            <p>Nakon obavezne registracije, zgrada dobija svoj PIB, matični broj i pečat.</p>
                            <br />
                            <p>Ali, to nije sve. Zgrada takođe preuzima na sebe i obavezu vođenja knjiga, izrade finansijskih izveštaja i poreskog bilansa na kraju godine.</p>
                            <br />
                            <p>Knjige možete da vodite i sami, ali je bolje da ih poverite nekome ko je obučen za taj posao i ko ima iskustva u toj oblasti poslovanja.  Obično je to profesionalni knjigovođa koji je odgovoran za način vođenja knjiga.</p>
                            <br />
                            <p>Zašto angažovati nas? Zato što Vam pored savesnog knjiženja nudimo i uslugu savetovanja kako da godišnji obavezan porez za plaćanje bude što manji za Vašu zgradu, a sve u skladu sa zakonskim propisima. I,zato što cenimo Vaše poverenje i cena po kojoj nudimo ovu uslugu je u rasponu etičkog poslovanja.</p>
                            <br />
                            <p>Mi Vam nudimo uslugu ažurnog vođenja Vaših knjiga, kao i praćenje propisa iz oblasti računovodstva i finansija. Vašu dokumentaciju čuvamo mi, ali Vam je dostupna u svakom trenutku. U slučaju da je Vaše dokumente potrebno odneti u neku od zvaničnih institucija ili banku ,na primer, to radimo mi za Vas zato što cenimo Vaše vreme i Vaše poverenje!</p>
                            <br />
                            <p>Povoljne cene za uslugu knjiženja garantujemo, a samu uslugu registracije Vaše zgrade, nudimo besplatno.</p>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                </div><!-- /.item-wrap -->
            </div><!-- /.Col-lg-9 -->
            <!-- Sidebar -->
            @Html.Partial("_Sidebar")

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
