
@{
    ViewBag.Title = "Održavanje zgrada";
}

@Html.Partial("_PageTitle")

<!-- Services Details -->
<section class="flat-row services-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="item-wrap text-justify">
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item">Održavanje zgrada</h2>
                            <p>Savremeni program održavanja stambene zgrade kojem teži naša kompanija dovodi do povećanja tržišne vrednosti vašeg stana koji kod većine ljudi predstavlja najveću materijalnu vrednost i sigurnost. Koliko je zgrada očuvana je jedno od najčešće postavljanih pitanja pri kupovini stana pa je u tom smislu jako bitno da se zgrada redovno održava, servisira i da se konstantno unapređuje kako bi vaši stanovi zadržali ili povećali svoju vrednost. Stanovi takođe mogu biti osnov za dobijanje hipotekarnih kredita u većini slučajeva radi školovanja dece, lečenja pa i do rešenja za moguće novonastale stambene potrebe te je takođe veoma važno zgradu redovno održavati, servisirati i konstantno unapređivati.</p>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                    <div class="divider"></div>
                    <div class="item item-details">
                        <div class="content-item">
                            <h4>Održavanje zgrade se deli na:</h4>
                            <ul class="my-list-style">
                                <li>Tekuće održavanje</li>
                                <li>Hitne intervencije</li>
                                <li>Investiciono održavanje</li>
                            </ul>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                    <div class="divider"></div>
                    <div class="item item-details">
                        <div class="content-item">
                            <h4>Tekuće održavanje zgrade obuhvata:</h4>
                            <ul class="my-list-style">
                                <li>Redovno čišćenje zajedničkih delova zgrade</li>
                                <li>Redovno čišćenje trotoara i prilaza zgradi</li>
                                <li>Deratizaciju i dezinfekciju zajedničkih delova zgrade</li>
                                <li>Redovno čišćenje održavanje oluka</li>
                                <li>Redovno čišćenje i održavanje ravnih krovova</li>
                                <li>Redovno održavanje i servisiranje lifta</li>
                                <li>Redovno održavanje vodovodnih i kanalizacionih instalacija</li>
                                <li>Redovno održavanje i servisiranje rasvete u zajedničkim prostorijama</li>
                                <li>Redovno održavanje interfona</li>
                                <li>Redovno održavanje video nadzora</li>
                                <li>Redovno održavanje zelenila (ako je u nadležnosti zgrade)</li>
                                <li>Uklanjanje snega i leda sa trotoara i prilaza zgradi (ako je u nadležnosti zgrade)</li>
                            </ul>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                    <div class="divider"></div>
                    <div class="item item-details">
                        <div class="content-item">
                            <p>Naš program održavanja podrazumeva redovne preglede zgrade koji se obavlja dva puta mesečno. Protivpožarni sistemi, panik rasveta, klimatizacija i ventilacija takođe spadaju u tekuće održavanje i redovno se pregledaju.</p>
                            <br />
                            <p><b>Hitne intervencije</b> spadaju u održavanje kojem se pristupa u najkraćem mogućem roku radi zaštite kompletne zgrade, njenih stanova i stanara, zdravlja i svega ostalog. Ekipe za ovakvu vrstu radova su uvek dostupne i pristupaju radovima u najkraćem mogućem roku.</p>
                            <br />
                            <p><b>Investiciono održavanje</b> podrazumeva radove koji dovode do povećanja vrednosti zgrade i stanova. Ovi radovi se pažljivo planiraju i kalkulišu pre donošenje odluke o pristupanju istim. Skupština stambene zajednice (zgrade) a na predlog i u saradnju sa profesionalnim upravnikom donosi plan investicija te se na osnovu tog plana pristupa realizaciji.</p>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                </div><!-- /.item-wrap -->
            </div><!-- /.Col-lg-9 -->
            <!-- Sidebar -->
            @Html.Partial("_Sidebar")

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
