
@{
    ViewBag.Title = "Upravljanje zgradama";
}

@Html.Partial("_PageTitle")

<!-- Services Details -->
<section class="flat-row services-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="item-wrap text-justify">
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item">Profesionalni upravnik</h2>
                            <p>Poslovi profesionalnog upravnika dele se u tri grupe i sve su obavezne kako za upravnike tako i za profesionalne upravnike. Tri grupe poslova su:</p>
                            <br />
                            <ul class="my-list-style">
                                <li>Administrativni poslovi</li>
                                <li>Finansijski poslovi</li>
                                <li>Tehnički poslovi</li>
                            </ul>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                    <div class="divider"></div>
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item">Administrativni poslovi</h2>
                            <ul class="my-list-style">
                                <li>Registracija stambene zajednice (ukoliko nije već registrovana)</li>
                                <li>Izrada pečata</li>
                                <li>Registracija matičnog broja i PIB-a stambene zajednice</li>
                                <li>Otvaranje tekućeg računa u poslovnoj banci</li>
                                <li>Predstavljanje i zastupanje stambene zajednice</li>
                                <li>Registracija „Pravila vlasnika“ stambene zajednice (ukoliko se izglasa)</li>
                                <li>Pravljenje popisa i označavanje posebnih, zajedničkih, kao i samostalnih delova, evidentiranje i praćenje podataka o vlasnicima posebnih delova, kao i o licima kojima plaćaju zakupninu za zajednički ili neki od posebnih delova, sprovođenje u delo odluka stambene zajednice</li>
                                <li>Zaključivanje ugovora za održavanje higjene lifta, zajedničkih prostorija i drugo</li>
                                <li>Nadzor nad radom osoblja i sprovođenjem zaključenih ugovora</li>
                                <li>Informisanje stanara i sačinjavanje izveštaja</li>
                            </ul>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                    <div class="divider"></div>
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item">Finansijski poslovi</h2>
                            <ul class="my-list-style">
                                <li>Pravo raspolaganja nad novčanim sredstvima sa tekućeg računa stambene zajednice, uz prethodno dato odobrenje kroz odluku skupštine stambene zajednice</li>
                                <li>Ažurno vođenje evidencije o prihodima i rashodima stambene zajednice</li>
                                <li>Priprema budžeta i njegovog raspoređivanja po stavkama</li>
                                <li>Naplata dogovorenog iznosa za upravljanje i održavanje stambene zgrade</li>
                                <li>Kontinuelna priprema i dostava štampanih naloga za uplatu svim stanarima zgrade ubacivanjem u njihovu poštansku sandučad u zgradi</li>
                                <li>Prinudna naplatapotraživanja stambene zajednice</li>
                                <li>Izrada završnog računa i podnošenje poreske prijave stambene zajednice u slučaju da ista ostvaruje prihod po osnovu rentiranja zajedničkih delova</li>
                            </ul>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                    <div class="divider"></div>
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item">Tehnički poslovi</h2>
                            <ul class="my-list-style">
                                <li>Realizacija godišnjeg programa održavanja</li>
                                <li>Realizacija radova na tekućem održavanju</li>
                                <li>Realizacija radova na investicionom održavanju</li>
                                <li>Realizacija radova u slučaju hitnih intervencija</li>
                                <li>Donošenje i briga o kućnom redu</li>
                                <li>Pružanje podrške i podsticanje aktivnosti stanara stambene zajednice</li>
                                <li>Obnova i unapređenje imovine stambene zajednice</li>
                            </ul>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                    <div class="divider"></div>
                    <div class="item item-details">
                        <div class="content-item">
                            <p>Na <span style="font-style:italic">osnovu zakona o stanovanju i održavanju zgrada</span> zakonska je obaveza svake stambene zajednice da se registruje i da upravljanje zgrade poveri upravniku ili profesionalnom upravniku.</p>
                            <br />
                            <p><b>Članom 56. Zakona</b> predviđeno je da skupština stambene zajednice  u svakom trenutku može odlučiti da poveri <b>upravljanje profesionalnom upravniku.</b></p>
                            <br />
                            <p><b>Međusobna prava</b> i obaveze skupštine stambene zajednice i profesionalnog upravnika regulišu se Ugovorom o poveravanju poslova profesionalnog upravljanja</p>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                </div><!-- /.item-wrap -->
            </div><!-- /.Col-lg-9 -->
            <!-- Sidebar -->
            @Html.Partial("_Sidebar")

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

