<section class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-single">
                    <div class="footer-title"><h2>O nama</h2></div>
                    <img src="~/Content/Logos/Logo_footer.png" class="img-responsive" alt="Logo" width="200">
                    <br />
                    <p style="padding-right: 10px" class="text-justify">SU-STAN SISTEMI DOO SUBOTICA je firma koja posluje preko 5 godina, ali osnovu postojanja ove firme čini više od 15 godina građevinskog i finansijskog iskustva vlasnika i tima koji stoji iza njega.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-single useful-links">
                    <div class="footer-title"><h2>Linkovi</h2></div>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Home")">Početna <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="@Url.Action("About", "Home")">O nama <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="#">Naše usluge</a></li>
                        <li><a href="#">Obrasci</a></li>
                        <li><a href="#">Česta pitanja</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Kontakt <i class="fa fa-angle-right pull-right"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-single">
                    <div class="footer-title"><h2>Poslovnica</h2></div>
                    <address>
                        <p>
                            Braće Radić 12c,<br />
                            24000 Subotica
                        </p>
                        <p><a href="tel:+381693939390"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp; 069 39 39 390 </a></p>
                        <p><a href="mailto:info@sustan.rs"><i class="glyphicon glyphicon-envelope"></i>&nbsp; info@sustan.rs </a></p>
                    </address>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-single">
                    <div class="footer-title"><h2>Kontakt</h2></div>
                    <address>
                        <p>
                            Đorđa Natoševića 30,<br />
                            24000 Subotica
                        </p>
                        <p><a href="tel:+381693939390"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp; 069 39 39 390 </a></p>
                        <p><a href="mailto:info@sustan.rs"><i class="glyphicon glyphicon-envelope"></i>&nbsp; info@sustan.rs </a></p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="nb-copyright">
    <div class="container">
        <div class="row">
            <div class="copyrt text-center xs-center">
                &copy; @DateTime.Now.Year - Sustan doo | Sva prava zadržana
            </div>
        </div>
    </div>
</section>
