<div class="col-lg-3">
    <div class="sidebar">
        <div class="widget widget-out-link clearfix">
            <h5 class="widget-title">O nama</h5>
            <div id="logo-footer" class="logo">
                <a href="/" rel="home">
                    <img src="~/images/Logo_SU.png" alt="image">
                </a>
            </div>
            <br />
            <p class="text-justify">SU-STAN SISTEMI DOO SUBOTICA je firma koja posluje preko 5 godina, ali osnovu postojanja ove firme čini više od 15 godina građevinskog i finansijskog iskustva vlasnika i tima koji stoji iza njega.</p>

        </div>

        <div class="widget widget-recent-new">
            <h5 class="widget-title">Poslovnica</h5>
            <ul class="flat-information">
                <li><i class="fa fa-map-marker"></i>Braće Radić 12c, 24000 Subotica</li>
                <li><i class="fa fa-phone"></i><a href="tel:+381693939390">069/39 39 390</a></li>
                <li><i class="fa fa-envelope"></i><a href="mailto:info@sustan.rs">info@sustan.rs</a></li>
            </ul>
        </div>
    </div>
</div>