@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Nalog je zaključan";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="text-center">
                    <img src="~/Content/404/animate-lock.gif" width="450" />
                    <div class="txt-404-big">Ovaj nalog je zaključan!</div>
                    <div class="txt-404-small">Nalog je zaključan jer je pokušan pristup više puta sa pogrešnom lozinkom.<br />
                    Molim Vas da nas kontaktirate ukoliko ste zaboravili Vašu lozinku.</div>
                    <a class="btn btn-primary" href="/">Nazad na početnu</a>
                </div>
            </div>
        </div>
    </div>
</section>
