<section class="flat-row section-client bg-section effect-animation" data-animation="fadeInLeft" data-animation-delay="0" data-animation-offset="75%">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-client" data-item="5" data-nav="false" data-dots="false" data-auto="false">
                    <div class="client"><img src="/images/clients/1.png" alt="image"></div>
                    <div class="client"><img src="/images/clients/2.png" alt="image"></div>
                    <div class="client"><img src="/images/clients/3.png" alt="image"></div>
                    <div class="client"><img src="/images/clients/4.png" alt="image"></div>
                    <div class="client"><img src="/images/clients/5.png" alt="image"></div>
                </div><!-- /.flat-client -->
            </div>
        </div>
    </div>
</section>


