
<section class="flat-row v6">
    <div class="container">
        <div class="row">
            <div class="col-md-12 effect-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                <div class="title-section text-center">
                    <h1 class="title">Neka često postavljana pitanja</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 effect-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
            <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header accordian-border" role="tab" id="heading-1">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                            <h6 class="mb-0 accordian-h5-bottom">
                                Protivpožarna zaštita <i class="fa fa-chevron-down rotate-icon float-right margin-left21"></i>
                            </h6>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse-1" class="collapse" role="tabpanel" aria-labelledby="heading-1" data-parent="#accordionEx">
                        <div class="card-body">
                            <p>Svaka zgrada mora da ima propisanu zaštitu od mogućih požara. Zakon o zaštiti požara predstavlja okvir koja se bliže definiše raznim podzakonskim aktima.</p>
                            <p>Vatrogasni aparat je prvo na šta će građani da pomisle, a upravo su ovi aparati najčešće zapostavljeni. Oni se koriste za početno gašenje nastalog požarakoji se još nije proširio na veća područja.</p>
                            <p>Hidranti stupaju na delo kada je požar već uzeo maha uz prethodno isključivanje struje.</p>
                            <p>Protivpožarna zaštita poznata i kao PP zaštita nije nešto što ispituje komšija do Vas niti mi nego to rade akreditovane institucije  kako bi se ispoštovali svi zakonski propisi i uputstva sa zvanične deklaracije i garancije proizvođača.</p>
                            <p>U praksi se najčešće koriste „S“ aparati kod kojih je sredstvo za gašenje obična soda bikarbona ili CO2 aparati kod kojih je plin odnosno ugljen dioksid sredstvo koje se koristi.</p>
                            <p>Iako smo ubeđeni da većina ljudi zna kako da pravilno koristi ovaj aparat u slučaju nužde, mi ćemo Vam dati kratko uputstvo.</p>
                            <br />
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header accordian-border" role="tab" id="heading-2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                            <h6 class="mb-0 accordian-h5-bottom">
                               Na koji način se vrši naplata Vaših usluga kao<i class="fa fa-chevron-down rotate-icon float-right"></i><br /> profesionalnog upravnika
                            </h6>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2" data-parent="#accordionEx">
                        <div class="card-body">
                            <p>Za mesečne usluge koje pružamo ćete dobiti račun, posebno za svaki mesec.</p>
                            <p>Uplatu možete izvršiti putem e-bank aplikacije ili gotovinski u bilo kojoj pošti i bilo kojoj banci koju Vi preferirate.</p>
                            <p>U bilo kom trenutku ćete u našoj kancelariji u Braće Radić 12c ili putem elektronskog upita moći imati uvid u stanje računa Vaše zgrade. Mi volimo da popričamo sa Vama, ali i elektronska forma Vam je uvek raspoloživa!</p>
                            <br />
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header accordian-border" role="tab" id="heading-3">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                            <h6 class="mb-0 accordian-h5-bottom">
                                Šta mi imamo od toga da s Vama potpišemo ugovor? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                            </h6>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse-3" class="collapse" role="tabpanel" aria-labelledby="heading-3" data-parent="#accordionEx">
                        <div class="card-body">
                            <p>Pored osnovnih usluga, imamo godinama razvijanu i usavršavanu mrežu komunikacije sa raznim partnerima čija delatnost spada u radove i usluge važne za zgrade.</p>
                            <p>Od instalacije i servisiranja interfona i video nadzora, brige o vodovodnim i električnim instalacijama, preko pranja i krečenja fasade, krečenja zgrade, zamene brava, utikača, popravke problema prokišnjavanja krova nudimo i druge poslove prema Vašim potrebama i zahtevima.</p>
                            <p>Odgovor u najkraćem mogućem roku i promptno rešavanje hitnih situacija!</p>
                            <br />
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header accordian-border" role="tab" id="heading-4">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                            <h6 class="mb-0 accordian-h5-bottom">
                                Šta je i kako se formira Rezervni fond zgrade? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                            </h6>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse-4" class="collapse" role="tabpanel" aria-labelledby="heading-4" data-parent="#accordionEx">
                        <div class="card-body">
                            <p>Rezerevni Fond se osniva na osnovu većinske odluke Stambene zajednice. Nakon osnivanja  Rezervnog Fonda nastaje zakonska obaveza zplate dogovorenog iznosa u dogovorenim rokovima na tekući račun Stambene zajednice. Obaveza je deifinisana Zakonom o stanovanju i održavanju zgrada.</p>
                            <p>Radi se o zajedničkom fondu svih vlasnika posebnih i samostalnih delova, a njegova namena je pokriće investicionog održavanja Vaše zgrade. Čak i zakupci stanova preko godinu dana imaju obavezu plaćanja troškova investicionog održavanja.</p>
                            <p>Visina sredstava se može zasnivati na potrebama za investiciono održavanje Vaše zgrade,a ne može da bude ispod minimalnog iznosa propisanog aktom o investicionom održavanju.</p>
                            <p>Profesionalni upravnik je dužan da vodi evidenciju uplata i zaduženja za svakog vlasnika koji imaju pravo na izvod stanja sredstvaa ovog fonda. Profesionalni upravnik mora da vodi evidenciju o prihodima i rashodima, da kreira izveštaje o stanju Rezervnog fonda minimum dva puta godišnje, kao i da dostavlja svakom vlasniku račun za investiciono održavanje ako je tako definisano u ugovoru.</p>
                            <br />
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header accordian-border" role="tab" id="heading-5">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                            <h6 class="mb-0 accordian-h5-bottom">
                                Koji su zajednički delovi zgrade? <i class="fa fa-chevron-down rotate-icon float-right"></i>
                            </h6>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse-5" class="collapse" role="tabpanel" aria-labelledby="heading-5" data-parent="#accordionEx">
                        <div class="card-body">
                            <p>Svaki prostor van stana, lokala ili izdvojenog dela, garaže koji se nalazi u okviru zgrade svrstava se u njene zajedničke delove.</p>
                            <p>Zajednički delovi zgrade su ,na primer, stepenište,  zajednički hodnici, ulazni prosotori i vetrobrani, podrum, tavan, prostorija za bicikle, prostorija za sušenje veša i zajedničke terase.</p>
                            <p>U zajedničke delove zgrade spadaju i građevinski elementi poput temelja, nosećih zidova i stubova, izolacija, strehe, fasade, krov, dimanjci, konstrukcija i prostori za lift i druge posebne konstrukcije.</p>
                            <p>Zajedničke instalacije, oprema i uređaji su unutrašnje električne, vodovodne i instalacije za kanalizaciju, instalacije za gas i toplotno grejanje, lift i gromobrani, protivpođarni aparati, bezbedonosna ravseta i telefonske instalacije uključujući sve komunalne priključke koji su instalirani radikoriščenja od strane svih stanara.</p>
                            <br />
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header accordian-border" role="tab" id="heading-6">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                            <h6 class="mb-0 accordian-h5-bottom">
                                Kako Vas možemo kontaktirati radi razgovora i eventualnog <i class="fa fa-chevron-down rotate-icon float-right"></i> potpisivanja ugovora? 
                            </h6>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse-6" class="collapse" role="tabpanel" aria-labelledby="heading-6" data-parent="#accordionEx">
                        <div class="card-body">
                            <p>Možete nas kontaktirati putem kontakt telefona 024/571-331 i 069/39-39-390, kao i putem kontakt mejl adrese info@sustan.rs.</p>
                            <p>Možete nas posetiti i u kancelariji koja se nalazi u centru grada, na adresi Braće Radića 12c, Subotica.</p>
                            <p>Odgovorićemo na sva Vaša pitanja i bliže Vam predstaviti našu ponudu. Vaše mišljenje je nama bitno.</p>
                            <p>Ako se odlučite da mi budemo Vaš profesionalni upravnik, u kratkom roku možemo potpisati ugovor o saradnji u kome je naš dogovor jasno definisan kako biste imali napismeno koja su Vaša prava i naše obaveze.</p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Accordion wrapper-->
            <br />
            <div class="btn-showall text-center">
                <a class="flat-button" href="/cesta-pitanja">Preostala pitanja i odgovori</a>
            </div>
            <br />
        </div>
        <div class="col-md-6 effect-animation margin-bottom-79" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
            <img src="~/images/kuca-na-dlanu.jpg" alt="kuca-na-dlanu"/>
        </div>
</section>


