<section class="flat-row section-iconbox bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 reponsive-mb30">
                <div class="title-section style2 ">
                    <h1 class="title">Zašto da angažujemo profesionalnog upravnika?</h1>
                    <div class="sub-title">
                        Ovo je možda i najčešće postavljeno pitanje i zaslužuje dostojan i konkretan odgovor.
                    </div>
                </div>
            </div>
            <div class="col-md-3 reponsive-mb30">
                <div class="btn-showall float-right align-content-sm-center">
                    <a href="zasto-da-angazujemo-profesionalnog-upravnika" class="flat-button">Saznajte sve</a>
                </div>
            </div>
        </div>
    </div>
</section>

