
<section class="flat-row v6">
    <div class="container">
        <div class="row">
            <div class="col-md-12 effect-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                <div class="title-section text-center">
                    <h1 class="title">Latest News</h1>
                </div>
            </div>
        </div>
        <div class="blog-carosuel-wrap">
            <div class="blog-shortcode post-grid">
                <article class="entry border-shadow clearfix effect-animation" data-animation="fadeInUp" data-animation-delay="0.2s" data-animation-offset="75%">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="services-details.html"> <img src="/images/blog/g1.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Advisory Plan</span>
                            <h2 class="title-post"><a href="services-details.html">Colombia Gets a Business Makeover</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>26 Dec 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>
                <article class="entry border-shadow clearfix effect-animation" data-animation="fadeInUp" data-animation-delay="0.4s" data-animation-offset="75%">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="services-details.html"> <img src="/images/blog/g2.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Finance & Accounting</span>
                            <h2 class="title-post"><a href="services-details.html">The Recurring Debate Over Concurrent Delays</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>20 Aug 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>
                <article class="entry border-shadow  clearfix effect-animation" data-animation="fadeInUp" data-animation-delay="0.6s" data-animation-offset="75%">
                    <div class="entry-border clearfix">
                        <div class="featured-post">
                            <a href="services-details.html"> <img src="/images/blog/g3.jpg" alt="image"></a>
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <span class="category">Business Plans</span>
                            <h2 class="title-post"><a href="services-details.html">Counting the Cost of Delay & Disruption</a></h2>
                            <div class="meta-data style2 clearfix">
                                <ul class="meta-post clearfix">
                                    <li class="day-time">
                                        <span>12 JUN 2017</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.contetn-post -->
                    </div><!-- /.entry-border -->
                </article>
            </div>
        </div>
    </div>
</section>

