<section class="flat-row v4 effect-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">

    <div class="container">
        @*<div class="row effect-animation " data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
            <div class="col-lg-5">
                <div class="title-section style3 left ">
                    <h1 class="title">Our Industry</h1>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="title-section padding-left50">
                    <div class="sub-title style3">
                        We help organisations work smarter and grow faster. Reach out to us to build effective organisations, reduce costs, manage risk and regulation and leverage talent.
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-4 effect-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                <a href="nase-usluge/upravljanje-zgradama">
                    <div class="iconbox style3">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-building-o"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">Upravljanje zgradama</h5>
                            <br />
                            <p>Na osnovu zakona o stanovanju i održavanju zgrada zakonska je obaveza svake stambene zajednice da se registruje i da upravljanje zgrade poveri upravniku ili profesionalnom upravniku.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 effect-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                <a href="nase-usluge/odrzavanje-zgrada">
                    <div class="iconbox style3">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-wrench fa-flip-horizontal"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">Održavanje zgrada</h5>
                            <br />
                            <p>Savremeni program održavanja stambene zgrade kojem teži naša kompanija dovodi do povećanja tržišne vrednosti vašeg stana koji kod većine ljudi predstavlja najveću materijalnu vrednost i sigurnost.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 effect-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                <a href="nase-usluge/knjizenje-zgrada">
                    <div class="iconbox style3">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">Knjiženje zgrada</h5>
                            <br />
                            <p style="padding-bottom:7px">U okviru naših usluga, nudimo i uslugu profesionalnog vođenja finansija i knjiženja zgrada.</p>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

