<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

    <!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
    <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" data-version="5.3.0.2" style="height:450px !important;">
        <ul>
            <!-- SLIDE  -->
            <!-- SLIDE 1 -->
            <li data-index="rs-3050" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- <div class="overlay">
                </div> -->
                <!-- MAIN IMAGE -->
                <img src="/images/slides/slider.jpg" alt="slider" data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 12 -->
                <div class="tp-caption title-slide"
                     id="slide-3050-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="['35','20','50','50']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-82','-82','-82','-82']"
                     data-fontsize="['60','60','50','33']"
                     data-lineheight="['70','70','50','35']"
                     data-fontweight="['700','700','700','700']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":100,"speed":3000,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[10,10,10,10]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 16; white-space: nowrap; color:white;">
                    Profesionalno upravljanje<br /> 
                    i održavanje zgrada!
                </div>

                <!-- LAYER NR. 12 -->
                @*<div class="tp-caption sub-title position"
                     id="slide-3050-layer-3"
                     data-x="['left','left','left','left']" data-hoffset="['35','25','50','50']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-122','-122','-122','-122']"
                     data-fontsize="['16',16','16','14']"
                     data-fontweight="['600','600','600','600']"
                     data-width="['660','660','660','300']"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1100,"speed":3000,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 17; white-space: nowrap;text-align:left;  color:white;">
                    KEEPING YOUR WEB PRESENCE
                </div>*@
                <br />
                <!-- LAYER NR. 13 -->
                @*<div class="tp-caption sub-title"
                     id="slide-3050-layer-4"
                     data-x="['left','left','left','left']" data-hoffset="['35','20','50','50']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['12','12','-20,'-20']"
                     data-fontsize="['18',18','18','16']"
                     data-lineheight="['30','30','22','16']"
                     data-fontweight="['400','400','400','400']"
                     data-width="['800',800','800','450']"
                     data-height="none"
                     data-whitespace="['nowrap',normal','normal','normal']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1100,"speed":3000,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 17; white-space: normal;  color:white;">
                    With over 20 years of experience we’ll ensure<br>you always get the best guidance!
                </div>*@

                <a href="zasto-da-angazujemo-profesionalnog-upravnika" target="_self" class="tp-caption flat-button text-center"
                   data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                   data-x="['center','center','center','center']" data-hoffset="['-502','-400','-240','-70']"
                   data-y="['middle','middle','middle','middle']" data-voffset="['106','106','80','50']"
                   data-fontweight="['700','700','700','700']"
                   data-width="['auto']"
                   data-height="['auto']"
                   style="z-index: 3;  color:white;">
                    Saznajte više
                </a><!-- END LAYER LINK -->
                <a href="kontakt" target="_self" class="tp-caption flat-button style2 text-center"
                   data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                   data-x="['center','center','center','center']" data-hoffset="['-318','-200','-30','-70']"
                   data-y="['middle','middle','middle','middle']" data-voffset="['106','106','80','110']"
                   data-fontweight="['700','700','700','700']"
                   data-width="['auto']"
                   data-height="['auto']"
                   style="z-index: 3;  color:white;">
                    Kontakt
                </a><!-- END LAYER LINK -->
            </li>

        </ul>
    </div>
</div><!-- END REVOLUTION SLIDER -->
