
@{
    ViewBag.Title = "Obrasci";
}

@Html.Partial("_PageTitle")

<!-- Services Details -->
<section class="flat-row services-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <div class="item-wrap text-justify">
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="download-title-txt">Ovde možete preuzeti sledeće obrasce:</h2>
                            <br />
                            <ul class="title-item download-links-txt">
                                <li><i class="fa fa-download">&nbsp;</i><a href="~/Content/Download/Izjava-za-promenu-podataka-o-stanu.pdf" target="_blank">Izjava za promenu podataka o stanu</a></li>
                                <li><i class="fa fa-download">&nbsp;</i><a href="~/Content/Download/Molba-za-izdavanje-listinga.pdf" target="_blank">Molba za izdavanje listinga</a></li>
                                <li><i class="fa fa-download">&nbsp;</i><a href="~/Content/Download/Molba-za-promenu-dostavne-adrese.pdf" target="_blank">Molba za promenu dostavne adrese</a></li>
                                <li><i class="fa fa-download">&nbsp;</i><a href="~/Content/Download/Molba-za-promenu-imena.pdf" target="_blank">Molba za promenu imena</a></li>
                                <li><i class="fa fa-download">&nbsp;</i><a href="~/Content/Download/Potrosnja-hladne-vode-samocitaci.pdf" target="_blank">Potrošnja hladne vode – samočitači</a></li>
                                <li><i class="fa fa-download">&nbsp;</i><a href="~/Content/Download/Potvrda-o-broju-clanova-domacinstva-pojedinacno.pdf" target="_blank">Potvrda o broju članova domaćinstva pojedinačno</a></li>
                                <li><i class="fa fa-download">&nbsp;</i><a href="~/Content/Download/Potvrda-o-broju-clanova-domacinstva-zgrada.pdf" target="_blank">Potvrda o broju članova domaćinstva zgrada</a></li>
                            </ul>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                </div><!-- /.item-wrap -->
            </div><!-- /.Col-lg-9 -->
            <!-- Sidebar -->
            @Html.Partial("_Sidebar")

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
