@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Stranica nije pronađena";
}


<section class="flat-row services-details">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <img src="~/Content/404/404-not-found.gif" width="450"/>
                <div class="txt-404-big">Uuups, stranica nije pronađena!</div>
                <div class="txt-404-small">Došlo je do greške ili stranica više ne postoji.</div>
                <a class="btn btn-primary" href="/">Nazad na početnu</a>
            </div>
        </div>
    </div>
</section>

