@{
    ViewBag.Title = "O nama";
}

@Html.Partial("_PageTitle")

<!-- Services Details -->
<section class="flat-row services-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="item-wrap text-justify">
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item"><i class="fa fa-home">&nbsp;</i>O nama</h2>
                            <p>„ SU-STAN SISTEMI DOO SUBOTICA “ je firma koja posluje preko 5 godina, ali osnovu postojanja ove firme čini više od 15 godina građevinskog i finansijskog iskustva vlasnika i tima koji stoji iza njega. Firma je jaka koliko i njeni zaposleni.</p>
                            <br />
                            <p>Matična firma „ SU-STAN SISTEMI DOO SUBOTICA “ posluje na domaćem tržištu, kao i na inostranom tržištu putem svojih ogranaka.</p>
                            <br />
                            <p>Reference zadovoljnih klijenata su uvek na raspolaganju. One su potvrda kvaliteta i savremenosti u poslovanju kakvim se može okarakterisati i naš koncept upravljanja i održavanja zgradama.</p>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                    <div class="divider"></div>
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item"><i class="fa fa-rocket">&nbsp;</i>Misija</h2>
                            <p>Naša vizija je da kao profesionalni upravnik Vaše zgrade primenimo višegodišnje znanje koje posedujemo kako bismo ,uz Vaše odobrenje, unapredili Vašu zgradu na način prijatan Vama, a opet na način koji je naša zakonska odgovornost i koji je time u skladu sa pozitivnim zakonskim propisima.</p>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                    <div class="divider"></div>
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item"><i class="fa fa-eye">&nbsp;</i>Vizija</h2>
                            <p>Strategija rasta i razvoja naše firme i Vašeg partnera se zasniva na principima racionalnog poslovanja i primeni inovativnih tehnika.</p>
                            <br />
                            <p>Transparentnost poslovanja nam je od izuzetnog značaja. Uvek smo tu za naše  klijente, kao i naše partnere.</p>
                            <br />
                            <p>Transparentnost poslovanja se ogleda i u našoj dostupnosti Vama u svakom trenutku. Na našem sajtu uvek možete napraviti upit u stanje računa Vaše zgrade i pitati nas ono što Vas interesuje ili ,ako preferirate razgovor “oči u oči” možete nas posetiti i u našoj kancelariji na adresi Braće Radić 12C.</p>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                </div><!-- /.item-wrap -->
            </div><!-- /.Col-lg-9 -->
            <!-- Sidebar -->
            @Html.Partial("_Sidebar")

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>