
@{
    ViewBag.Title = "Zašto da angažujemo profesionalnog upravnika";
}

@Html.Partial("_PageTitle")

<!-- Info Details -->
<section class="flat-row services-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="item-wrap text-justify">
                    <div class="item item-details">
                        <div class="content-item">
                            <h2 class="title-item">Zašto da angažujemo profesionalnog upravnika</h2>
                            <br />
                            <p>Ovo je možda i najčešće postavljeno pitanje i zaslužuje dostojan i konkretan odgovor.</p>
                            <p>Skupština stanara zgrade može da izabere nekog stanara za upravnika zgrade, ali se u praksi pokazalo da pojedinac ne poseduje sve potrebne predispozicije za profesionalno upravljanje zgradom počev od stalnog praćenja i poštovanja zakonskih propisa, pa sve do dovoljno ekspeditivnog reagovanja na sve potrebe zgrade.</p>
                            <p>Dan ipak traje samo 24 sata i jedna osoba ne može fizički postići sve. Kada se stambena zajednica brine sama o sebi to znači da je nekome iz zgrade povereno da se brine o svim aspektima zgrade kao što su svi tehnički poslovi, administrativni poslovi, poslovi knjiženja, pa i poslovi održavanja trotoara i zalivanja zelenila na parceli koja pripada zgradi.</p>
                            <p>Kao firma koja se bavi profesionalnim upravljanjem i održavanjem zgrada, imamo tim ljudi koji je uvek spreman da preduzme sve potrebne korake da zgrada bude bezbedna po stanare i da ispunjava sve propise. SU-STAN SISTEMI ima svoje sektore koji se brinu o svim ovim poslovima, a koji su pod kontrolom profesionalnog upravnika.</p>
                            <p>Naš tim obučenih ljudi Vam je dostupan od 0-24h svaki dan i možemo da garantujemo reagovanje na nastale probleme u najkraćem mogućem roku.</p>
                            <p>Cena upravljanja i održavanja zgrade Vas neće koštati više nego dosad. Kako? SU-STAN SISTEMI pružaju objedinjenu uslugu upravljanja, održavanja i knjiženja kao paket usluga koji nam daje mogućnost da se o vašoj zgradi staramo kao o svom domu, ali ujedno i da ne budemo skuplji od iznosa koji ste dosad plaćali.</p>
                            <p>Uz maksimalnu transparentnost i dostupnost stanari mogu da dobiju informacije o izvršavanju preuzetih obaveza u svakom trenutku što je isto dužnost onoga ko upravlja stambenom zajednicom. Znači, ne samo da možete u svakom trenutku imati informaciju koliko sredstava ima na računu zgrade nego i u kojoj se fazi nalaze eventualni tekući radovi, šta je do sada urađeno i koji su planirani budući radovi. Mi idemo iznad zakonskog minimumam davanja stanja računa zgrade na uvid kako biste Vi tokom cele godine bili sigurni u pravilno trošenje Vaših para!</p>
                            <p>Vaša zgrada je Vaše pravo, ali naša briga! Kao firma koja upravlja sa više stambenih zajednica možemo da obezbedimo određene pogodnosti stambenim zajednicama koje su nam poverile svoje zgrade na upravljanje. Na primer, kada dve ili više zgrada žele da se omoluju zajedničke prostorije mi možemo da obezbedimo dodatni popust na količinu radova.</p>
                            <p>Naš zajednički interes je unapređenje svih zgrada kojima upravljamo kao dokaz našeg liderstva u Subotici. Našim sugestijama za isti iznos sredstava možete postići više za Vašu zgradu!</p>
                            <br />
                            <div class="btn-showall">
                                <a href="kontakt" class="flat-button">POZOVITE NAS I ZAKAŽITE SASTANAK</a>
                            </div>
                        </div><!-- /.content-item -->
                    </div><!-- /.item -->
                </div><!-- /.item-wrap -->
            </div><!-- /.Col-lg-9 -->
            <!-- Sidebar -->
            @Html.Partial("_Sidebar")

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
